# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
/docroot/sites/default/default.services.yml
/docroot/sites/default/default.settings.php
/docroot/.htaccess
.gitattributes

/docroot/libraries
# Example: Include some libraries, exclude others.
#/docroot/libraries/*
#!/docroot/libraries/jquery-ui-touch-punch/

# Ignore Composer-managed dependencies.
vendor/

# phpstorm
.idea

# node modules for custom theme
docroot/themes/custom/usda_ars_uswds/node_modules
docroot/sites/scientific-discoveries/themes/custom/usda_scient_discover_uswds/node_modules

# config files
settings.local.php
/docroot/sites/scientific-discoveries/settings.local.php
# Backup files
*.bak

*.eyb
