<img class="usa-footer__logo-img" src="/{{ directory }}/assets/img/usda-symbol-color.png" alt="">
<div class="footer-logo-text">
  <span class="logo-org">
    <a href="https://www.usda.gov/" class="external">U.S. Department of Agriculture</a>
  </span>
  <a class="logo-org-branch" href="/">Agricultural Research Service</a>
</div>